@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

/* =======================================navbar============================================== */
.navbar{
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed;  */
    /* overflow-x: hidden; */
    
}

.navbar .bars div{
    color: aliceblue;
    display: none;
}
.navbar article{
    display: flex;

}

.navbar .logo img{
    height: 100px;
    width: 100px;
}

.navbar article div{
    text-decoration: none;
    display: inline;
    margin: 20px;
}

.navbar .navbaroptions div a{
    color: aliceblue;
    text-decoration: none;
}

.navbar .icons div {
    color: burlywood;
    margin: 20px;
}

.navbar .box div {
    color: burlywood;
    width: 100px;
    height: 20px;
    padding: 20px;
    border: 2px solid;
    border-color: burlywood;
}



/* =======================================hero section========================================== */

.hero{
    height:800px;
    background-color: black;
    margin: 0px;
    padding: 0px;
     display: flex;  
    justify-content: center; 
    /* justify-content: space-evenly; */
    align-items: center;
    overflow-x: hidden;
   
}


.hero article div img{
    height: 600px;
    width: 520px;
   
}

.hero article div img:hover{
    scale: 1.2;
    transition: scale 0.5s;
}

.hero article div{
    overflow: hidden;
}

.hero .heroa1 div{
    color: rgb(184, 156, 121);
    font-size: 60px;
    position: absolute;
    top: 440px;
    left: 650px;
}

.hero .heroa1 div img{
    height: 50px;
    width: 50px;
    
}

.hero .heroa1 div i{
    font-size: 45px;
    color: rgb(136, 97, 46);
}
.hero .heroa2 div {
    color: rgb(238, 229, 218);
} 

.hero .heroa2 div pre i {
    color: rgb(128, 90, 42);
}

.hero2{

    height: 400px;
    background-color: black;
    margin: 0px;
    padding: 0px;
     display: flex;  
    justify-content: center;  
    justify-content: space-evenly;
    overflow-x: hidden;
}
.hero2 .hero2a1 div {
    color:  rgb(155, 109, 54);
    font-size: x-large;
    border: 5px solid;
    border-left: 0;
    border-right: 0;
    border-color: rgb(155, 109, 54);
    padding-right: 20px;
    padding-left: 20px; 
}    

.hero2 .hero2a2 div img{
    height: 400px;
    width: 650px;
    position: absolute;
    right: 20px;
    top: 800px;
    margin-right: 50px;
}

.hero2 .hero2a2 div img:hover{
    scale: 0.8;
    transition: scale 0.6s;
}
 
.hero2 .hero2a2 div{
    overflow: hidden;
}

/* ======================================== menu ======================================= */

.menu {
    height: 800px;
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    overflow-x: hidden;
   
}

/* .menu article{
    display: flex;
} */

.menu .menua1 .box1{
    width: 300px;
    height: 200px;
    background-color: rgb(158, 115, 59);
    position: absolute;
    left: 300px;
    top: 1400px;
    
}

.menu .menua1 .image1 img{
    height: 500px;
    position: absolute;
    left: 400px;
    top: 1450px ;

    
}

.menu .menua1 .image2 img{
    height: 400px;
    position: absolute;
    left: 200px;
    top: 1500px;
}

.menu .menua2 .menua2d1 {
    font-size: xx-large;
    color: burlywood;
    margin-top: 200px;
    margin-left: 830px; 
} 

.menu .menua2 .menua2d2 p {
    font-size: medium;
    color: rgb(224, 219, 213);
   align-items: end;
   margin-top: 50px; 
   margin-left: 830px;
   margin-right: 100px;
} 

/* ===========================================menu grid============================================ */


.pcard article img{
    width: 300px;
    align-items: center;
}

.pcard article{
    margin: 30px;
    border-bottom: solid 10px rgb(31, 23, 12);
}
#pcard{
    background-size: auto;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding: 5px;
}

.pcard article div{
    color: burlywood;
}

.pcard article div img:hover{
    scale: 1.2;
    transition: scale 0.5s;
}
.pcard article div{
    overflow: hidden;
}






/* ============================================= second menu section================================== */


.menu2{
    height: 2000px;
    background-color: black;
    margin: 0px;
    padding: 0px;
    padding-left: 200px;
    /* justify-content: space-evenly; */
    overflow-x: hidden;
}

.menu2 {
    display: flex;
    justify-content: space-evenly;
    
}


/* ==================================images============================================= */

.menu2 .menuimages #image3 img{
    height: 300px;
    margin-top: 100px;
}

.menu2 .menuimages #image4 img{
    height: 250px;
    /* margin-top: -100px; */
    margin-left: 250px;
}

.menu2 .menuimages #image8 img{
    height: 400px;
    /* margin-top: -50px; */

}

.menu2 .menuimages #image9 img{
    height: 500px;
    margin-top: -80px;
}
.menu2 .menuimages #image10 img{
    height: 400px;
}

.menu2 .menuimages img:hover{
    scale: 1.2;
    transition: scale 0.5s;
}
.menu2 .menuimages div{
    overflow: hidden;
}




/* =========================================================================================== */

.menu2 .menu2a2{
    position: absolute;
    left: 20%;
}
 

.menu2 .menu2d1 {
    font-size: xx-large;
    color: rgb(82, 49, 5);
    margin-left: 200px;
}

.menu2 .menu2a2 div h1{
    font-size: x-large;
    color: rgb(124, 93, 53);
    margin-top: 100px;
}
.menu2 .menu2a2 div h2{
    font-size: x-large;
    color: burlywood;
    margin-top: 100px;
}

/* .menu2 .menu2a2 div{
    display: flex;
} */

.menu2 .menu2a2 div h6{
    font-size: small;
    color: bisque;
}

.menu2 .menu2a2 div h4{
    font-size: large ;
    color: coral;
}

.menu2 .menu2a2{
    /* display: flex; */
    justify-content: space-evenly;
}

.menu2 .menu2a2 #happyhour{
    display: none;
}

.menu2 .menu2a2 #check{
    display: none;
}
#check:checked~#happyhour{
    display: block;
}


.menu2 .menu2a2 #snacks{
    display: none;
}

.menu2 .menu2a2 #check2{
    display: none;
}
#check2:checked~#snacks{
    display: block;
}




.menu2 .menu2a2 #tacos{
    display: none;
}
.menu2 .menu2a2 #check3{
    display: none;
}
#check3:checked~#tacos{
    display: block;
}



.menu2 .menu2a2 #fries{
    display: none;
}
.menu2 .menu2a2 #check4{
    display: none;
}
#check4:checked~#fries{
    display: block;
}


.menu2 .menu2a2 #burger{
    display: none;
}
.menu2 .menu2a2 #check5{
    display: none;
}
#check5:checked~#burger{
    display: block;
}



.menu2 .menu2a2 #rice{
    display: none;
}
.menu2 .menu2a2 #check6{
    display: none;
}
#check6:checked~#rice{
    display: block;
}




/* =====================================about section========================================= */


.about1{
background-size: 600px;
background-color: black;
display: flex;
}


.about1 .aboutus h1{
    color: burlywood;
    font-size: 500%;
    margin-left: 60%;  
}

.about1 .biglogo img{
    height: 200px;
    margin-left: 65%;
}

.about1 .abouta1 #image5 img{
    height: 600px;
    margin-top: 300px;
    margin-left: 100px;
}

.about1 .abouta1 #image6 img{
    height: 550px;
    position: absolute; 
    left: 350px;
    top: 160%;
}
.about1 .abouta2 div{
    background-color: black;
    background-size: 500px;
    height: 800px;
    width: 400px;
    padding-left: 30px;
}

.about1 .abouta2 div h1{
    font-size: xx-large;
    color: rgb(213, 196, 172);
    
    margin-top: 800px;
}

.about1 .abouta2 div h3{
    color: rgb(100, 77, 49);
}


.about1 .abouta2 div h4{
    font-size: larger;
    color: rgb(152, 127, 97);
}



/* =========================================brewery section====================================== */


.brewery1 {
    background-size: 1000px;
    background-color: black;
}


.brewery1 .brewerya1 div img{
    height: 550px;
    margin-left: 20%;
    
}


.brewery1 .brewerya1 #image7 img{
    height: 270px;
    position: absolute;
    top: 300px;
    left: 40%;
}

.brewery1 .brewerya1 #block img{
    height: 150px;
    color: rgb(116, 81, 36);
    position: absolute;
    left: 10%;
    top: 590px;
}

.brewery1 .brewerya2 h1{
    color: rgb(92, 63, 27);
    font-size: xx-large;
    margin-left: 32%;
    margin-top: 10%;
    
}

.brewery1 .brewerya2 h3{
    color: bisque;
    font-size: large;
    margin-left: 30%;
    margin-right: 30%;
}


.brewery1 .brewerya2 #ablebakre a{
    background-color: black;
    color: rgb(89, 70, 47);
    text-decoration: none;
    margin-left: 30%;
    margin-bottom: 20%;
    border: solid 2px; 
    border-color:rgb(101, 77, 47);
    padding: 15px; 
    
}



/* ==============================================contact======================================== */


.contact{
    margin-top: 0px;
    background-size: 10000px;
    background-color: black;
}
.contact .contacta1 .contactus h1{
    color: burlywood;
    font-size: 500%;
    margin-left: 25%; 
    margin-bottom: 100px; 
}

.contact .contacta1 {
    padding-left: 10%;
    padding-top: 100px;
}
.contact .contacta2 div iframe{
    margin-left: 35%;
    margin-top: -500px;
    height: 400px; 
    width: 800px; 
    background-color: black;
   
}

.contact .contacta1 #details{
    background-size: 200px;
    background-color: rgb(157, 119, 68);
    height: 300px;
    width: 400px;
    
}



.contact .contacta1 #messagebox{
    background-size: 200px;
    background-color: rgb(157, 119, 68);
    height: 300px;
    width: 400px;
    
}


.contact .contacta1 #details h1{
    margin-left: 50px;
    color: rgb(52, 32, 6);
    font-size: xx-large;
}

.contact .contacta1 #details h4{
    margin-left: 20px;
     color: bisque;
}
.contact .contacta1 #details h4 i{
    margin-left: 20px;
    color: rgb(53, 38, 18);
}

.contact .contacta1 #details h2 {
    color: rgb(87, 61, 25);
    margin-top: 40px;
    margin-left: 10%;

}



.contact .contacta1 #messagebox h1{
    margin-left: 50px;
    color: rgb(52, 32, 6);
    font-size: xx-large;
}

.contact .contacta1 #messagebox h4{
    margin-left: 20px;
     color: rgb(240, 233, 227);
}
.contact .contacta1 #messagebox h4 i{
    margin-left: 20px;
    color: rgb(53, 38, 18);
}

.contact .contacta1 #messagebox h2 {
    color: rgb(87, 61, 25);
    /* margin-top: 40px; */
    margin-left: 10%;

}



.contact .contacta1 div h2 i{
    color: black;
}
.contact .contacta1 div #messagebox form{
    margin-left: 10%;
   
}

.contact .contacta1 div #messagebox form {
    background-color: rgb(157, 119, 68);
    color: black; 
    border-color: black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
} 
.contact .contacta1 form #submit {
    margin-left: 20px;
    border-width: 10px;
    border-color: rgb(245, 244, 243);
}

.contact .contacta3{ padding-top: 50px;
    background-color: black;
    height: 200px;
    
}

.contact .contacta3 #icons2 div{
    text-decoration: none;
    color: rgb(163, 141, 112);
    padding-left: 30%;
    
    
   
}
.contact .contacta3 #logo2 img{
    height: 150px;
    position: absolute;
    left: 150px;
  
}


/* =====================================bottom section============================= */

.bottomsection {
    background-color: rgb(176, 156, 114);
    height: 400px;
    
    
    
}


.bottomsection article div img{
    height: 200px;
    
     
 }

 .bottomsection article{
    display: flex;
    justify-content: space-evenly;
    

 }
 .bottomsection article div{
    margin-top: 10%;
    font-size: x-large;
    color: rgb(29, 19, 5);
    
 }



 .bottomsection article div i{
    color: rgb(47, 29, 5);
 }

 .bottomsection article div h3{
    font-size: medium;
    color: rgb(29, 19, 5);
 }
 


 /* ========================================================================================================= */
 /* ========================================================================================================= */



 @media (max-width:450px){

    /* ===============================================navbar=================================== */

    .navbar .navbaroptions div{
        display: none;
    }

    .navbar .icons{
        display: none;
    }
    .navbar .bars div{
        display: block;
    }


    .navbar .bars #checkn{
        display: none;
    }
    #checkn:checked~ .navbaroptions {
        display: block;
        
    }

    /*===================================================hero========================================== */


    .hero .heroa1
    {
        margin-top: -50px;
    }
    
     .hero .heroa1 div{
        color: rgb(184, 156, 121);
        font-size: 60px;
        position: absolute;
        top: 440px;
        left: 50px;
    }


    .hero article div img{ 
        height: 500px;
        width: 400px;

       

    }
    .heroa2 div pre{
        margin-left: -50PX;
    } 

    .hero{
        overflow: hidden;
    }
    .menu{
        overflow: hidden;
    }
    .pcard{
        overflow: hidden;
    }
    .bottomsection{
        overflow: hidden;
    }


    /* =========================================menu================================================= */

    .menu2 .menu2d1{
        margin-left: 10px;
    }

    .menu2 .menu2a2 div h1{
        font-size: small;
        margin-left: -20%;
    }
    .menu2 .menu2a2 div h2{
        font-size: small;
        margin-left: -50px;

    }
    .menu2 .menu2a2 div h6{
        font-size: small;
        margin-left: -50px;
       
    }

    .menu2 .menuimages{
        margin-left: 150%;
    }

    .menu2 .menuimages div img{
        height: 100px;
    }

    .menu2{
        background-image: url(/hamburger-5630646_1280.jpg); 
        
        background-repeat: no-repeat;
        
     }
        
    

}